Repository remarkablemark/react-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(package): release with `standard-version`
  package.json
Due: none

chore(scripts): create deploy script
  package.json
  scripts/deploy.sh
Due: none

chore(package): replace `react-scripts` with `react-app-rewired`
  config-overrides.js
  package.json
Due: eslint --fix

chore(app): use `react-hot-loader` in development
  config-overrides.js
  package.json
  src/App.js
Due: eslint --fix

chore(package): upgrade devDependencies
  package.json
Due: none

test: add enzyme and snapshot test of <App>
  package.json
  src/App.test.js
  src/__snapshots__/App.test.js.snap
  src/setupTests.js
Due: eslint --fix

feat(public): update index.html to show browsehappy if IE9 or below
  public/index.html
Due: none

build(scripts): make `deploy.sh` executable
  scripts/deploy.sh
Due: none

build(scripts): stash all files before commencing deploy
  scripts/deploy.sh
Due: none

chore(package): update description, scripts, and homepage
  package.json
Due: none

chore(public): tidy head tags and update comment in index.html
  public/index.html
Due: none

chore: update .gitignore with .pnp and .pnp.js
  .gitignore
Due: none

chore(public): set "start_url" to "." in manifest.json
  public/manifest.json
Due: none

build(package): update devDependencies
  package.json
Due: none

build(package): move husky hooks from package.json to .huskyrc
  .huskyrc
  package.json
Due: none

chore(package): remove redundant script "test"
  package.json
Due: none

build(package): upgrade "devDependencies"
  package.json
Due: none

feat(src): update `registerServiceWorker.js` from CRA v3.1.2
  src/index.js
  src/registerServiceWorker.js
Due: eslint --fix

feat(src): unregister service worker & rename to `serviceWorker.js`
  src/index.js
  src/serviceWorker.js
Due: eslint --fix

feat(src): comment out service worker since it's not being used
  src/index.js
Due: eslint --fix

feat(public): add `robots.txt` from create-react-app v3.1.2
  public/robots.txt
Due: none

feat(public): add `logo192.png` and `logo512.png` from CRA v3.1.2
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: none

feat(public): update `favicon.ico` from create-react-app v3.1.2
  public/favicon.ico
Due: none

feat(public): update `index.html` from create-react-app v3.1.2
  public/index.html
Due: none

feat(src): update `index.css` from create-react-app v3.1.2
  src/index.css
Due: prettier --write

feat(src): update `logo.svg` from create-react-app v3.1.2
  src/logo.svg
Due: none

feat(src): update `App.css` & `App.js` from create-react-app v3.1.2
  src/App.css
  src/App.js
  src/__snapshots__/App.test.js.snap
Due: eslint --fix, prettier --write

test(src): ignore code coverage for `serviceWorker.js`
  src/serviceWorker.js
Due: eslint --fix

build(package): update react-app-rewired@2.1.3, react-scripts@3.1.2
  package.json
Due: none

docs(readme): update `README.md` from create-react-app v3.1.2
  README.md
Due: none

chore(package): downgrade `standard-version` to 6
  package.json
Due: none

build(package): upgrade devDependencies
  package.json
Due: none

chore(scripts): tidy `deploy.sh` and update comments
  scripts/deploy.sh
Due: none

chore(license): update copyright year to 2020
  LICENSE
Due: none

build(package): upgrade `commitlint` devDependencies in package.json
  package.json
Due: none

build(package): upgrade enzyme devDependencies in package.json
  package.json
Due: none

build(package): upgrade husky devDependency and rename .huskyrc
  .huskyrc.json
  package.json
Due: none

build(package): upgrade lint-staged and update .lintstagedrc
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: none

build(package): upgrade prettier dependencies and update .prettierrc
  .prettierrc
  .prettierrc.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: src/**/*.{json,css}
