Repository remarkablemark/react-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "src/**/*.{json,css}": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{css,json,md}": "prettier --write"
}

build(package): upgrade react and react-dom in package.json
  package.json
Due: prettier --write

build(package): upgrade react-hot-loader in package.json
  package.json
Due: prettier --write

refactor(src): use new version of react-hot-loader API
  src/App.js
Due: eslint --fix

build(package): upgrade react-scripts devDependency in package.json
  package.json
Due: prettier --write

chore(package): remove rimraf from devDependencies and update scripts
  package.json
Due: prettier --write

build(package): upgrade standard-version and set version to 1.0.0
  package.json
Due: prettier --write

docs(readme): update README.md based on create-react-app v3.4.1
  README.md
Due: prettier --write

refactor: rename .eslintrc -> .eslintrc.json
  .eslintrc.json
Due: prettier --write

chore(package): update package.json engines with yarn >=1
  package.json
Due: prettier --write

refactor: move browserslist from package.json to .browserslistrc
  .browserslistrc
  package.json
Due: prettier --write

feat(public): replace files and assets with create-react-app v3.4.1
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/robots.txt
Due: none

feat(src): replace files and assets with create-react-app v3.4.1
  src/App.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
Due: eslint --fix, prettier --write

build(package): save material-ui to devDependencies
  package.json
Due: prettier --write

feat(public): load Roboto font and Material font icons in index.html
  public/index.html
Due: none

feat(src): render <CssBaseline> in index.js
  src/index.js
Due: eslint --fix

feat(src): render simple <AppBar> in App.js
  src/App.js
  src/ButtonAppBar.js
  src/__snapshots__/App.test.js.snap
Due: eslint --fix

chore(package): remove script `test:watch` and update huskyrc
  .huskyrc.json
  package.json
Due: prettier --write

chore(package): update package.json engines npm to >=6
  package.json
Due: prettier --write

fix(scripts): update deploy.sh to run tests in CI mode with coverage
  scripts/deploy.sh
Due: none

refactor: update and replace project with TypeScript
  package.json
  src/App.test.tsx
  src/App.tsx
  src/ButtonAppBar.tsx
  src/__snapshots__/App.test.tsx.snap
  src/index.tsx
  src/react-app-env.d.ts
  src/serviceWorker.ts
  src/setupTests.ts
  tsconfig.json
Due: prettier --write

gitploy
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  precache-manifest.2c647289f5e85b9355f1906192f41f31.js
  robots.txt
  service-worker.js
  static/css/main.d1b05096.chunk.css
  static/css/main.d1b05096.chunk.css.map
  static/js/2.95e6f362.chunk.js
  static/js/2.95e6f362.chunk.js.LICENSE.txt
  static/js/2.95e6f362.chunk.js.map
  static/js/main.c1111672.chunk.js
  static/js/main.c1111672.chunk.js.map
  static/js/runtime-main.a084cea9.js
  static/js/runtime-main.a084cea9.js.map
  static/media/logo.5d5d9eef.svg
Due: eslint --fix, prettier --write

chore: use eslint to lint .js, .ts, and .tsx files
  .lintstagedrc.json
  package.json
  src/serviceWorker.ts
Due: prettier --write

chore: add and run script `tsc` during pre-commit hook and deploy
  .huskyrc.json
  package.json
  scripts/deploy.sh
Due: prettier --write

style(public): run prettier on html files and update .lintstagedrc
  .lintstagedrc.json
  public/index.html
Due: prettier --write

chore(package): update version to `1.0.0-alpha`
  package.json
Due: prettier --write

chore(license): update copyright year to 2021
  LICENSE
Due: none

chore(public): remove IE 9 conditional comment
  public/index.html
Due: none
